NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SITE_URL=

AUTH_REDIRECT_AFTER_LOGIN=
AUTH_REDIRECT_AFTER_LOGOUT=
AUTH_REDIRECT_AFTER_SIGNUP=
AUTH_REDIRECT_ON_ERROR=

DATABASE_URL=
DIRECT_URL=
